body{
    margin: 0;
}

.Env{
    width: 100%;
    height: 853px;
    display: flex;
    justify-content: center;
}

.viewport{
    background-color: rgb(161, 161, 161);
    width: 80%;
    height: 100%;
    overflow: hidden;
}

.hall{
    background-color: rgb(255, 255, 255);
    position: relative;
    width: 2000px;
    height: 2000px;

    transform: translate(0px, 0px);
}

.MainPanel{
    background-color: blueviolet;
    width: 100%;
    height: 100px;
}

.PropertiesPanel{
    background-color: brown;
    width: 20%;
    height: 100%;
}

.path{
    position: absolute;
    z-index: 100;
    margin-left: -90%;
    margin-top: -0.1%;
    display: flex;
    justify-content: left;
    user-select: none;
}