{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/edithall.css' %}">
</head>
<body>
    <div class="MainPanel">
        <button class="CreateObjectButton" id="CreateObjectButton">
            Create Object
        </button>
        <div class="CreateObjectPanel" id="CreateObjectPanel">
            <button class="CreateBtn CreateSeat" id="CreateSeat" objtype="Seat">
                Seat
            </button>
            <button class="CreateBtn CreateZone" id="CreateZone" objtype="Zone">
                Zone
            </button>
            <button class="CreateBtn CreateSeat" id="CreateSeat" objtype="lol">
                1
            </button>
            <button class="CreateBtn CreateSeat" id="CreateSeat" objtype="kek">
                2
            </button>
        </div>
    </div>
    <div class="Env">
        <h3 class="path" id="Path" hallname="{{hall_name}}" hallid="{{hall_id}}"></h3>
        <div class="viewport">
            <div class="hall" id="hall">
            </div>
        </div>
        <div class="SecondPanel">
            <div class="ExplorerPanel">
                ExplorerPanel
            </div>
            <div class="PropertiesPanel">
                PropertiesPanel
            </div>
        </div>
    </div>
    <script defer type="module" src="{% static 'js/edithall.js' %}"></script>
</body>
</html>